//Colors
$color-btn: #12A7E1;
$color-tel: #12A7E1;
$color-h-tag: #04090D;
$color-fonts: hsl(240, 9%, 12%);
$color-party-dem: #4784d6;
$color-party-rep: #e84b4b;

//Fonts
$font-family-primary: helvetica, sans-serif;
//Other
$border: 1px solid gray;
